<!DOCTYPE html>
<html>
<head>
    <title>Your prismic.io project</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>

<header>
  <a href="/">
    <h1>Your prismic.io project</h1>
  </a>
</header>

{% block content %}{% endblock %}

<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
<script>
  window.prismic = { endpoint: '{{ context.endpoint }}' };
</script>

{# This file is required for Experiments and Previews. #}
<script src="//static.cdn.prismic.io/prismic.min.js"></script>
{# Uncomment the line below to activate experiments #}
{{ experiments }}

</body>
</html>
